body {
    background-color: #FFF;
    margin: 0 auto;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.1GrX606pZ2oMn7RYMHoB8QHaE-%26pid%3DApi&f=1.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    bottom: 20px;
    border-image: round;
}

img {
    padding: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#image-one img {
    position: fixed;
}

.section-1 {
    background-color: #88b3e7;
    box-sizing: border-box;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    position: static;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 600;
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
}

  div > h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    font-weight: 300;
    text-align: center;
}

#question h4 span {
    font-size:xx-small;
}

#static-btn {
    background-color:lemonchiffon;
    border: 2px solid #262262;
    border-radius: 5px;
    padding: 20px;
    font-size: 10px;
    position: fixed;
    top: 250px;
    right: 25px;
}

#answer {
    border: 1px solid #466995;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    padding: 20px;
}

    #answer:hover {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background: #C0D6DF;
        color:#88b3e7;
        display: inline-block;
    }

 #scores {
        border: 1px solid #466995;
        border-radius: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 10px;
        padding: 10px;
        position: relative;
        width: 800px;
        height: 250px;
        background-color: #DBE9EE;
 }

    div p span {
        color:darkred;
        font-weight: 400;
    }

    #research {
        position: absolute;
        bottom: 0px;
        right: 0px;
        border: 1px solid #466995;
        border-radius: 5px;
        padding: 10px;
        font-size: x-small;
        display: inline;
        background-color: #88b3e7;
    }

    /*div #sanguine {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: 100px;
        border: 1px solid #466995;
    } #/
